.app {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 256px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 16px;
  padding: 50px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 0;
  font-family: 'Roboto', sans-serif;
}

.app h1 {
  font-size: 40px;
}

.balance {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.controls button {
  width: 256px;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4f3fcc;
  color: white;
  transition: background-color 0.3s;
  align-self: center;
}

.controls button:hover {
  background-color: #372a9f;
}

/*taskbar*/
.taskbar {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background: #fff;
  padding: 10px 14px;
  border-radius: 12px;
  display: flex;
  gap: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.taskbar button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.taskbar img {
  width: 30px;
  height: 30px;
}

.taskbar img:hover{
  transform: scale(1.2);
  transition: transform 0.2s ease;
}

.loading-screen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}