.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal-box {
    background: white;
    padding: 25px;
    padding-right: 45px;
    width: 420px;
    border-radius: 10px;
    position: relative;
    max-height: 80vh;
    overflow-y: auto;
}

.close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: white;
    border: 0;
}

.close-btn:hover{
    transform: scale(1.5);
    transition: 0.15s ease;
}

form {
    text-align: center;
}

form input,
form textarea,
form select {
    display: inline-block;
    width: 100%;
    margin: 8px 0;
    padding: 6px;
}

form button {
    display: inline-block;
    width: 256px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s;
    align-self: center;
}

form button:hover {
    background-color: #0056b3;
}

.history-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 400px;
    overflow-y: auto;
    overscroll-behavior: contain;
    padding-right: 8px;
    padding: 12px 8px;
    align-items: center;
}

.transaction-box {
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 12px;
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-shrink: 0;
    width: 360px;
}

.transaction-box:hover {
    background: #f5f5f5;
    transform: scale(1.02);
}

.transaction-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    padding: 8px 0;
}

.amount-sign {
    font-weight: bold;
    font-size: 21px;
}

.add-sign {
    color: green;
}

.subtract-sign {
    color: crimson;
}

.transaction-date {
    font-size: 18px;
    color: black;
}

.transaction-detail {
    background: white;
    padding: 15px;
    border-radius: 6px;
    text-align: left;
}

.transaction-detail p {
    margin: 8px 0;
    font-size: 14px;
    line-height: 1.5;
}

.list-btn{
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s;
    align-self: center;
}

.list-btn:hover {
    background-color: #0056b3;
}
