html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.field {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    user-select: none;
}

.coinling {
    position: absolute;
    width: auto;
    height: auto;
    transform-origin: center bottom;
}

.coinling-moving {
    animation: rock 0.6s ease-in-out infinite alternate;
}

@keyframes rock {
    from {
        transform: rotate(-4deg);
    }

    to {
        transform: rotate(4deg);
    }
}