html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.field {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    user-select: none;
}

.resident {
    position: absolute;
    width: auto;
    height: auto;
    transform-origin: center bottom;
}

.resident-moving {
    animation: rock 0.6s ease-in-out infinite alternate;
}

.resident-moving.facing-right {
    animation: rock-right 0.6s ease-in-out infinite alternate;
}

@keyframes rock {
    from {
        transform: scaleX(1) rotate(-4deg);
    }

    to {
        transform: scaleX(1) rotate(4deg);
    }
}

@keyframes rock-right {
    from {
        transform: scaleX(-1) rotate(-4deg);
    }

    to {
        transform: scaleX(-1) rotate(4deg);
    }
}